@mixin mb {
  @media screen and (max-width: 767px) {
    @content;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}
.WRAPPER {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #3702a3, #dc4225);
  .btn_logout {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #000;
    cursor: pointer;
    transition: 0.1s ease-in all;
    &:hover {
      background-color: #ce5175;
    }
  }
}
.list {
  position: relative;
  width: 60%;
  max-width: 1200px;
  padding: 2em 3em;
  margin: 50px auto 3em;
  overflow: hidden;
  box-sizing: border-box;
  background-color: rgba(255, 253, 249, 0.5);
  border-radius: 1em;
  backdrop-filter: saturate(100%) blur(20px);
  @include mb {
    width: 92%;
    padding: 1em;
    margin: 80px auto 3em;
  }
  h1 {
    margin-bottom: 0.2em;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 1.5;
  }
  input {
    width: 88%;
    height: 60px;
    margin: 10px 0 10px 0;
    padding: 0.5em;
    font-size: 24px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    &:focus {
      outline: none;
    }
    @include mb {
      width: 80%;
    }
  }
  .btn_add {
    width: calc(12% - 2px);
    height: 60px;
    margin: 10px 0 10px 2px;
    padding: 0;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #000;
    cursor: pointer;
    transition: 0.1s ease-in all;
    @include mb {
      width: calc(20% - 2px);
    }
    &:hover {
      background-color: #ce5175;
    }
    img {
      height: 60%;
      width: auto;
    }
  }
  .todo {
    display: grid;
    margin: 5px auto;
    padding: 0 10px;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.2);
    line-height: 60px;
    grid-template-columns: 50px auto 50px 50px;
    counter-increment: num;
    &.strike {
      text-decoration: line-through;
    }
    &::before {
      width: fit-content;
      content: '0' counter(num) '. ';
      padding-left: 10px;
      color: #000;
      font-size: 1.5em;
    }
    &:nth-of-type(n + 10)::before {
      content: counter(num) '. ';
    }
    &:first-child {
      border-radius: 5px 5px 0 0;
    }
    &:last-child {
      border-radius: 0 0 5px 5px;
    }
    .todo_txt {
      padding: 0 10px;
      font-size: 20px;
      font-weight: 800;
    }
    .btn {
      display: block;
      width: 40px;
      height: 40px;
      margin: 10px;
      font-size: 18px;
      border: none;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      cursor: pointer;
      transition: 0.1s ease-in all;
      &:hover {
        background-color: #ce5175;
      }
      &.btn_complete {
        img {
          width: 60%;
        }
      }
      &.btn_not_complete {
        visibility: hidden;
      }
    }
  }
}
